.Game {
  height: 100vh;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header h1 {
  font-size: large;
}

.twist-container {
  /* float: left; */
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  background-color: black;
  width: 170px;
  height: 170px;
  border-radius: 50%;
}

.center-press {
  display: flex;
  justify-content: center;
  align-items: center;
}
.press-container {
  margin-bottom: 20px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: black;
  border: 5px hotpink ridge;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pull-container {
  float: right;
  margin-right: 10vw;
  display: flex;
  align-items: top;
  justify-content: center;
}

.press-button {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  background-color: black;
  color: black;
  text-shadow: 2px 2px 4px hotpink, 0 0 25px hotpink, 0 0 5px pink;
  border: 2px hotpink solid;
}

.twist-img {
  height: 200px;
  width: 200px;
}
.twist-spin {
  height: 200px;
  width: 200px;
  animation: spin 1s linear;
}

.pull-img {
  width: 123px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
