.Game {
  height: 100vh;
  margin: 0;
  padding: 0;
  border: rebeccapurple outset 4px;
  background-color: blueviolet;
  background-image: linear-gradient(
    black,
    black,
    black,
    #170726,
    #2e0e4c,
    #451572,
    #5c1c98,
    #7323be,
    #8a2be2
  );
}

.twist-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 205px;
  height: 205px;
}

.center-press {
  display: flex;
  justify-content: center;
  align-items: center;
}
.press-container {
  margin-bottom: 20px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: black;
  border: 5px hotpink ridge;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pull-container {
  float: right;
  display: flex;
  align-items: top;
  justify-content: center;
}

.press-button {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  background-color: black;
  color: black;
  text-shadow: 2px 2px 4px hotpink, 0 0 25px hotpink, 0 0 5px pink;
  border: 2px hotpink solid;
}

.twist-img {
  height: 200px;
  width: 200px;
}
.twist-spin {
  height: 200px;
  width: 200px;
  animation: spin 1s linear;
}

.pull-img {
  width: 123px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
